body {
  width: 100%;
  overflow: hidden;
  margin: 0;
  left: 10px;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.header {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}

canvas#noisecanvas {
  position: absolute;
  left: 50%;
}

@media only screen and (max-device-width: 480px) {
  .header {
    top: 5% !important;
  }
  .text {
    left: 20% !important;
    margin-top: 0% !important;
  }
}

.text {
  font-family: 'Open Sans', sans-serif;
  width: 200px;
  text-align: left;
  position: absolute;
  margin-top: 5%;
  left: 40%;
}

.footer > .text {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 200px;
  text-align: center
}

.footer {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}

.wrapper {
  text-align: center;
}